*{
    margin: 0;
    padding: 0;
}
/*header start*/
header{
    /*border: 1px solid red;*/
    padding: 10px 0 20px;
}

.wrapper {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

.logo {
    /*border: 1px solid green;*/
    width: 25%;
    float: left;
}
.logo img{
    width: 100%;
}

.menu {
    /*border: 1px solid black;*/
    width: 66%;
    float: right;
    margin-top: 31px;
    
}

.menu ul{
    overflow: hidden;
    float: right;
}

.menu ul li{
    list-style: none;
    float: left;

}

.menu ul li a{
    font-family: sans-serif;
    /*font-weight: 400;*/
    font-size: 18px;
    color: #8A95AB ;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 30px;
    display: block;
}
/*header end*/